<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>  

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>junit.log</file>
    <append>false</append>
    <encoder>
      <pattern>%-4r %-5level %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>        

  <appender name="SYSLOGNG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>127.0.0.1</syslogHost>
    <port>514</port>
    <facility>LOCAL5</facility>
    <suffixPattern>%thread: %-5level %logger{36} - %msg%n</suffixPattern>
  </appender>

  <root level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="STDOUT" />
      <appender-ref ref="SYSLOGNG" />
  </root> 
  <!-- We want error logging from this logger to go to an extra appender 
       It still inherits CONSOLE STDOUT from the root logger -->

  <logger name="syslogng" level="INFO">
    <appender-ref ref="SYSLOGNG" />
  </logger>

  <logger name="junit" level="INFO">
      <appender-ref ref="FILE" />
      <appender-ref ref="STDOUT" />
      <appender-ref ref="SYSLOGNG" />
  </logger>    
</configuration>
